<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="color-scheme" value="light dark">
  <title>Reset Password | YNAB</title>
  <meta name="description"
    content="Personal home budget software built with Four Simple Rules to help you quickly gain control of your money, get out of debt, and reach your financial goals!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <link rel="stylesheet" media="screen"
    href="./Reset Password _ YNAB_files/application-21c32dd1be2eb0193e24f23c38c60f37c76eeb24e6c63f0701ebc55580039fb6.css">
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.73363/assets/apple-touch-icon-b9ded9cdc782048999fa3cb678634d8d7ef73911553f4e82c209ea30ebf81b7a.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.73363/assets/favicon-32x32-6ce45c4296f840277101df9ac80880bcf7a15c2667a3f8c04ab13d2a37e9861c.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.73363/assets/favicon-16x16-7279883c8d4d9e701783eb80a7c9176298728f183fad17edd30dee2709ed3e0f.png">
  <link rel="mask-icon"
    href="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.73363/assets/safari-pinned-tab-0f6609450211c5050f3e0e002911754bd2adc442d0e562a8c49df516fc0f81bc.svg"
    color="#71A3C3">
  <link rel="shortcut icon" type="image/x-icon"
    href="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.73363/assets/favicon-4eaca1462f4d836c2c67e015b4e2c1b24b7328b10a9088e1aefd96acf4c23cb5.ico">
  <meta name="msapplication-config" content="none">

  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token"
    content="fWFH0xsM1/VmSeYx1VXn0f7Pg5gLYFmROeQrclaHwSIe1Y5b4rHmtrQc/5fHgNUX0tefDeUnBq6EZT6zhDkcHg==">
  <meta name="session-token">
  <script type="text/javascript" integrity="sha384-girahbTbYZ9tT03PWWj0mEVgyxtZoyDF9KVZdL+R53PP5wCY0PiVUKq0jeRlMx9M"
    crossorigin="anonymous" async="" src="./Reset Password _ YNAB_files/amplitude-7.2.1-min.gz.js.download"></script>
  <script type="text/javascript" async="" src="./Reset Password _ YNAB_files/mparticle.js.download"></script>
  <script src="./Reset Password _ YNAB_files/768631729875601" async=""></script>
  <script async="" src="./Reset Password _ YNAB_files/fbevents.js.download"></script>
  <script async="" src="./Reset Password _ YNAB_files/analytics.js.download"></script>
  <script type="application/json" id="ynab_client_constants">
      {"FACEBOOK_PIXEL_ID":"768631729875601","GA_TRACKING_ID":"UA-75996-33","GOOGLE_CLIENT_ID":"309954126688-fup589gaa090t59f4e40cflj17nsvmmv.apps.googleusercontent.com","MPARTICLE_KEY":"51aaee60fc77174eb015ebece9f54a2a","MPARTICLE_PRODUCTION":true,"MPARTICLE_OTHER_ID":null,"ROLLBAR_CLIENT_TOKEN":"fc1d977c79f942cab5a2ad34080fc960","ROLLBAR_ENVIRONMENT":"ynab-api-production","ROLLBAR_ENABLED":true,"HS_BEACON_ID":null,"CASTLE_PUBLISHABLE_KEY":"pk_WRsfqrKuhzFKnp5npHQc9hTxGzE1C8zW"}
    </script>
  <script src="./Reset Password _ YNAB_files/before_server_pages-c3d3aa77e937ac4e0b9e.js.download"></script>
  <script nonce="">
    //<![CDATA[

    Castle.configure({ pk: 'pk_WRsfqrKuhzFKnp5npHQc9hTxGzE1C8zW' });

//]]>
  </script>
  <script
    src="./Reset Password _ YNAB_files/application_head-6655e3ce4f6e3e0d2f1e24f4e9a1d0ab7cc09dcd40e47b258c38332b7c9acdc8.js.download"></script>
</head>

<body data-page="passwords#new" data-ynab-device="web" class="">
  <div class="page-wrapper">
    <header class="page-header">
      <a title="Back to your Budget" class="ynab-primary-logo launch_app_button"
        href="https://app.youneedabudget.com/"><img alt="You Need A Budget."
          src="./Reset Password _ YNAB_files/ynab-primary-logo-2003e17c9a0de8f91c6435bf5ad45df87e4e6aabf86245b800ad318d473deb97.svg"></a>
    </header>



    <noscript>
      <div class="no-javascript-container">
        <div>
          <h3>Enable JavaScript to see YNAB's standard view</h3>
          <p>
            The page you are viewing requires JavaScript for the best experience. Enable JavaScript
            by changing your browser settings, and then hit refresh to try again.
          </p>
        </div>
      </div>
    </noscript>

    <main role="main" class="page-main">
      <section class="passwords-container">
        <h2>Forgot your password?</h2>
        <p>
          No sweat. Enter the email address you signed up with and we'll send you instructions to reset your password.
        </p>

        <hr>

        <form class="form js-form"
          action="https://app.youneedabudget.com/api/v1/catalog?operation_name=initiatePasswordReset"
          accept-charset="UTF-8" data-remote="true" method="post" novalidate="novalidate"><input name="utf8"
            type="hidden" value="✓">
          <p class="js-form-email">
            <label for="request_data_email">Email:</label>
            <input class="required" autofocus="autofocus" spellcheck="false" type="email" name="request_data[email]"
              id="request_data_email">
            <label class="error" for="request_data_email"></label>
          </p>
          <p>
            <button name="button" type="submit" class="button button-primary"
              data-disable-with="Sending Reset Instructions..." disabled="">Send Reset Instructions</button>
          </p>
          <p>
            <a href="https://app.youneedabudget.com/users/authentication">Return to log in</a>
          </p>
        </form>
      </section>

      <section class="passwords-container-success" style="display:none;">
        <h2>Reset password instructions sent!</h2>
        <p>
          Instructions to reset your password have been sent to <strong class="js-email"></strong>.
        </p>
        <p>
          <a class="button" href="https://app.youneedabudget.com/users/authentication">Return to log in</a>
        </p>
      </section>


    </main>
  </div>

  <footer>
    <a rel="noopener noreferrer" target="_blank" href="https://www.youneedabudget.com/terms/">Terms of Service</a>
    <a rel="noopener noreferrer" target="_blank" href="https://www.youneedabudget.com/privacy-policy/">Privacy
      Policy</a>
    <span class="copyright">© Copyright 2022 YNAB LLC. All rights reserved.</span>
  </footer>

  <script
    src="./Reset Password _ YNAB_files/application_vendor-ce62e47eaeed2c7a253db9cabe6a7bcf1ea210ffd10d893334f1855edc3b47ee.js.download"></script>
  <script
    src="./Reset Password _ YNAB_files/application-c15c7a50d981b68931aec949f142a6cc74b557ee8e8ec887503f3cebdd3d02d8.js.download"></script>
  <script src="./Reset Password _ YNAB_files/authentications-951576827311e327a9ac.js.download"></script>


</body>

</html>