{% extends 'auth/auth_base.html' %}

{% block doodle %}
<span class="doodle">
  <img
    src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/doodle-welcome-fb1a36ed72c58dfd8728cf2bbb90b285c1cf579c37f238d3903b310cfa9710cf.svg" />
</span>
{% endblock %}
{% block authentication %}

<div class="authentications-container-item">
  <h2>Sign Up for YNAB</h2>
  <p>
    Have an account?
    <a data-switch-auth-to="login" href="{{url_for('auth.login')}}" class="have-an-account">Log in</a>.
  </p>
  <form action="{{url_for('api.beta.users.list_users')}}" accept-charset="UTF-8"
    data-remote="true" method="post" class="form signup-form" novalidate="novalidate">
    <input name="utf8" type="hidden" value="✓" />
    <p class="js-form-email">
      <label for="request_data_email_signup" class="u-sr-only">Email:</label>
      <input id="request_data_email_signup" autofocus="autofocus" spellcheck="false" placeholder="Email address"
        type="email" name="email" class="required" />
      <label for="request_data_email_signup" class="error"></label>
    </p>
    <p class="js-form-password">
      <label for="request_data_password_signup" class="u-sr-only">Password:</label>
      <span class="password-toggle"><input id="request_data_password_signup" placeholder="Password"
          autocapitalize="none" autocomplete="off" type="password" name="password"
          class="required" /><label><input type="checkbox" data-password-toggle="" />Show</label></span>
      <label for="request_data_password_signup" class="error"></label>
    </p>
    <p class="terms-error">
      You must agree to the Terms of Service and Privacy Policy to
      create your account.
    </p>
    <p>
      <button name="sign_up" type="submit" id="sign_up" data-disable-with="Signing Up..." class="button button-primary">
        Sign Up
      </button>
    </p>
  </form>
</div>

{% endblock %}