{% extends 'base.html' %}

{% block body %}
<main role="main" class="page-main">
  <div id="login-screen">
    <section class="aside-content">
      <aside>
        <span class="doodle"><img
            src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/doodle-login-3fb9c20adf6ee05781509bffc0aab493f980f6f01ef525da24ee5439cba9e15f.svg" /></span>
        <p>
          YNAB is a budgeting app that helps you confidently spend your
          money, get out of debt, and take control of your financial
          freedom.
        </p>
      </aside>
      <div class="authentications-container">
        <div class="authentications-container-item">
          <div>
            <h2>Log In</h2>
          </div>
          <div>
            <p>
              New to YNAB?
              <a data-switch-auth-to="signup" href="#">Sign up today</a>.
            </p>
          </div>
          <span>
            <form id="login-form" method="post" class="form login-form" novalidate="novalidate">
              <input name="utf8" type="hidden" value="✓" />
              <p class="js-form-email">
                <label for="request_data_email" class="u-sr-only">Email:</label>
                <input autofocus="autofocus" spellcheck="false" placeholder="Email address" type="email" name="email"
                  id="request_data_email" class="required valid" autocomplete="off" aria-invalid="false" />
                <label for="request_data_email" class="error" style="display: none"></label>
              </p>
              <p class="js-form-password">
                <label for="request_data_password" class="u-sr-only">Password:</label>
                <span class="password-toggle"><input placeholder="Password" autocapitalize="none" autocomplete="off"
                    type="password" name="password" id="request_data_password" class="required" /><label><input
                      type="checkbox" data-password-toggle="" />Show</label></span>
                <label for="request_data_password" class="error"></label>
              </p>
              <p class="remember-me-and-forgot-password">
                <label for="request_data_remember_me"><input type="checkbox" value="1" name="request_data[remember_me]"
                    id="request_data_remember_me" />
                  Keep me logged in
                </label>
                <a href="/users/password/new">Forgot password?</a>
              </p>
              <p></p>
              <div>
                <button name="login" type="submit" id="login" data-disable-with="Logging In..."
                  class="button button-primary">
                  Log In
                </button>
              </div>
              <p></p>
              <hr data-content="or" class="u-hr-text" />
              <p class="u-sr-only">
                Or log in with your Apple or Google account
              </p>
              <button name="button" type="button" data-label="Continue with Apple"
                data-connect-url="/auth/apple/connect" data-trigger-action="false"
                class="button-brand button-brand-apple">
                <span class="brand-logo"><img
                    src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/apple-logo-24d988857482bc7d60e83447ea01dff8a29c8295705c8af0eb3a5077f0b98853.svg"
                    class="provider-logo" /></span><span class="brand-name">Continue with Apple</span>
              </button>
              <p class="apple-error"></p>
              <button name="button" type="button" data-label="Continue with Google"
                class="button-brand button-brand-google">
                <span class="brand-logo"><img
                    src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/google-logo-54e60c3db3a805b0cdd5ace5c871f691ebe85248f6685f663c0e007ace582b72.svg"
                    class="provider-logo" /></span><span class="brand-name">Continue with Google</span>
              </button>
              <p class="google-error"></p>
            </form>
          </span>
          <!---->
          <span style="display: none">
            <form id="otp-login-form" data-redirect-url="/" action="/users/authentication" accept-charset="UTF-8"
              method="post" class="form login-form">
              <input name="utf8" type="hidden" value="✓" /><input type="hidden" name="authenticity_token"
                value="GGZbUkYg014TVQ1WyzS9ppaE105//9cjAf0VNggGFHYjaSCLSViomVtfm27s9ndk0zjAuoHTO/MO0NUGL8QySg==" />
              <!---->
              <br />
              <button type="submit" id="otp-login-button" name="otp-login-button" disabled="disabled"
                class="button button-primary">
                Verify
              </button>
            </form>
            <!---->
          </span>
        </div>
        <div class="authentications-container-item" style="display: none">
          <h2>Sign Up for YNAB</h2>
          <p>
            Have an account?
            <a data-switch-auth-to="login" href="#" class="have-an-account">Log in</a>.
          </p>
          <form data-action="/api/v1/catalog?operation_name=signupUser"
            data-token-login-url="/api/v1/catalog?operation_name=getInitialUserData"
            data-sso-login-url="/api/v1/catalog?operation_name=loginUser"
            data-validate-url="/api/v1/catalog?operation_name=validateEmailAndPassword" data-redirect-url="/"
            data-dirty-tracking="false" action="/api/v1/catalog?operation_name=signupUser" accept-charset="UTF-8"
            data-remote="true" method="post" class="form signup-form" novalidate="novalidate">
            <input name="utf8" type="hidden" value="✓" />
            <p class="js-form-email">
              <label for="request_data_email_signup" class="u-sr-only">Email:</label>
              <input id="request_data_email_signup" autofocus="autofocus" spellcheck="false" placeholder="Email address"
                type="email" name="request_data[email]" class="required" />
              <label for="request_data_email_signup" class="error"></label>
            </p>
            <p class="js-form-password">
              <label for="request_data_password_signup" class="u-sr-only">Password:</label>
              <span class="password-toggle"><input id="request_data_password_signup" placeholder="Password"
                  autocapitalize="none" autocomplete="off" type="password" name="request_data[password]"
                  class="required" /><label><input type="checkbox" data-password-toggle="" />Show</label></span>
              <label for="request_data_password_signup" class="error"></label>
            </p>
            <p class="terms-error">
              You must agree to the Terms of Service and Privacy Policy to
              create your account.
            </p>
            <p>
              <button name="sign_up" type="submit" id="sign_up" data-disable-with="Signing Up..."
                class="button button-primary">
                Sign Up
              </button>
            </p>
            <hr data-content="or" class="u-hr-text" />
            <p class="u-sr-only">
              Or sign up with your Apple or Google account
            </p>
            <button name="button" type="button" data-label="Continue with Apple" data-connect-url="/auth/apple/connect"
              data-trigger-action="false" class="button-brand button-brand-apple">
              <span class="brand-logo"><img
                  src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/apple-logo-24d988857482bc7d60e83447ea01dff8a29c8295705c8af0eb3a5077f0b98853.svg"
                  class="provider-logo" /></span><span class="brand-name">Continue with Apple</span>
            </button>
            <p class="apple-error"></p>
            <button name="button" type="button" data-label="Continue with Google"
              class="button-brand button-brand-google">
              <span class="brand-logo"><img
                  src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/google-logo-54e60c3db3a805b0cdd5ace5c871f691ebe85248f6685f663c0e007ace582b72.svg"
                  class="provider-logo" /></span><span class="brand-name">Continue with Google</span>
            </button>
            <p class="google-error"></p>
          </form>
        </div>
        <div class="terms-container">
          <h2>The Legal Stuff</h2>
          <ul class="tabs">
            <li class="active">
              <a href="#terms-of-service">Terms of Service</a>
            </li>
            <li><a href="#privacy-policy">Privacy Policy</a></li>
          </ul>
          <div class="tabs-content tabs-content-border">
            <iframe id="terms-of-service" data-src="https://www.youneedabudget.com/terms/?isolated"
              class="tabs-content-item active"></iframe>
            <iframe id="privacy-policy" data-src="https://www.youneedabudget.com/privacy-policy/?isolated"
              class="tabs-content-item"></iframe>
          </div>
          <p class="terms-note">
            Agree to the Terms of Service and Privacy Policy to continue.
          </p>
          <div class="terms-actions">
            <button id="terms-disagree" class="button button-secondary">
              Disagree
            </button>
            <button id="terms-agree" class="button button-primary">
              Agree
            </button>
          </div>
        </div>
        <div class="welcome-back" style="display: none">
          <h2>Welcome back!</h2>
          <p>
            You have connected your
            <span class="welcome-back-provider-name">SSO</span> account to
            your existing YNAB account.
          </p>
          <p>
            <a href="/" class="button button-primary">Let's Get Budgeting!</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>
</div>

<footer>
  <a rel="noopener noreferrer" target="_blank" href="https://www.youneedabudget.com/terms/">Terms of Service</a>
  <a rel="noopener noreferrer" target="_blank" href="https://www.youneedabudget.com/privacy-policy/">Privacy Policy</a>
  <span class="copyright">© Copyright 2022 YNAB LLC. All rights reserved.</span>
</footer>

<script
  src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/application_vendor-ce62e47eaeed2c7a253db9cabe6a7bcf1ea210ffd10d893334f1855edc3b47ee.js"></script>
<script
  src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/application-60aef22fbb8b63f2c0aa5d819f3b3b70dba051302e55a9920506568a928c80db.js"></script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js" charset="utf-8"></script>
<script
  src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/packs/js/authentications-da207c34c084914e2c0d.js"></script>

<iframe id="ssIFrame_google" sandbox="allow-scripts allow-same-origin allow-storage-access-by-user-activation" style="
        position: absolute;
        width: 1px;
        height: 1px;
        inset: -9999px;
        display: none;
      " aria-hidden="true" frame-border="0"
  src="https://accounts.google.com/o/oauth2/iframe#origin=https%3A%2F%2Fapp.youneedabudget.com&amp;rpcToken=871185506.4365567"></iframe>
<div id="__lpform_request_data_email_numspan" style="
        position: absolute !important;
        visibility: visible !important;
        border: 0px none !important;
        font-size: 9px !important;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        top: 235px !important;
        left: 1297px !important;
        background-color: rgb(128, 128, 128);
        padding: 1px 2px !important;
        font-weight: bold !important;
        color: rgb(255, 255, 255) !important;
        cursor: default;
        line-height: 11px !important;
        max-width: 10px !important;
        z-index: 21 !important;
      ">
  3
</div>
<div id="__lpform_request_data_email" style="
        max-height: 16px;
        vertical-align: top;
        position: absolute;
        top: 224px;
        left: 1284.5px;
        z-index: 20;
      ">
  <img id="__lpform_request_data_email_icon"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAARNJREFUOBGlU72ORWAQPYREq9CtRryBQqJSaGziATyB1/AaV3c7ryAegUZHfxM1hUTiZ82EXbvVcicx35yZOWe+nxDiOP4E8FjX9WNb/22CILy25kjc3GUyTdkHPsSrk4l8GHFpB2/ZbQFVVXnwbQHXdX8EJEkCJRzHwXa7XLAsC57nQVEUxoZhwPd9aJrG+HASBbZtswDFXdeh73sEQUAQsiwjz3OEYcixrutIkoRr5PgI0zR9Jyj+i7fbxjzP3HOuUYJ3UBQFlmXBOI5omoYb0zQFXVRZlkx+Pp8wTRNVVXH9cCxAZBI5W13XZ4i2bfn7ldzA7VfIsoy1bgsMw/CewHEUcf+rDnxpJS4dIbojsnOiL0hfafwTOClcAAAAAElFTkSuQmCC"
    style="opacity: 0.6; vertical-align: top" width="16" height="16" />
</div>
<div id="__lpform_request_data_password_numspan" style="
        position: absolute !important;
        visibility: visible !important;
        border: 0px none !important;
        font-size: 9px !important;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        top: 297px !important;
        left: 1297px !important;
        background-color: rgb(128, 128, 128);
        padding: 1px 2px !important;
        font-weight: bold !important;
        color: rgb(255, 255, 255) !important;
        cursor: default;
        line-height: 11px !important;
        max-width: 10px !important;
        z-index: 22 !important;
      ">
  3
</div>
<div id="__lpform_request_data_password" style="
        max-height: 16px;
        vertical-align: top;
        position: absolute;
        top: 286px;
        left: 1284.5px;
        z-index: 21;
      ">
  <img id="__lpform_request_data_password_icon"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAARNJREFUOBGlU72ORWAQPYREq9CtRryBQqJSaGziATyB1/AaV3c7ryAegUZHfxM1hUTiZ82EXbvVcicx35yZOWe+nxDiOP4E8FjX9WNb/22CILy25kjc3GUyTdkHPsSrk4l8GHFpB2/ZbQFVVXnwbQHXdX8EJEkCJRzHwXa7XLAsC57nQVEUxoZhwPd9aJrG+HASBbZtswDFXdeh73sEQUAQsiwjz3OEYcixrutIkoRr5PgI0zR9Jyj+i7fbxjzP3HOuUYJ3UBQFlmXBOI5omoYb0zQFXVRZlkx+Pp8wTRNVVXH9cCxAZBI5W13XZ4i2bfn7ldzA7VfIsoy1bgsMw/CewHEUcf+rDnxpJS4dIbojsnOiL0hfafwTOClcAAAAAElFTkSuQmCC"
    style="opacity: 0.6; vertical-align: top" width="16" height="16" />
</div>
{% endblock %}