{% extends 'auth/auth_base.html' %}
{% block doodle %}
<span class="doodle"><img
    src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/doodle-login-3fb9c20adf6ee05781509bffc0aab493f980f6f01ef525da24ee5439cba9e15f.svg" /></span>
{% endblock %}

{% block authentication %}
<div class="authentications-container-item">
  <div>
    <h2>Log In</h2>
  </div>
  <div>
    <p>
      New to YNAB?
      <a data-switch-auth-to="signup" href="url_for('auth.sign_up')">Sign up today</a>.
    </p>
  </div>
  <span>
    <form id="login-form" action="{{url_for('api.beta.signin',next=url_for('view.budget', budget_id=1, month=3, year=2022))}}"
      accept-charset="UTF-8" method="post" class="form login-form" novalidate="novalidate">
      <input name="utf8" type="hidden" value="✓" />
      <p class="js-form-email">
        <label for="request_data_email" class="u-sr-only">Email:</label>
        <input autofocus="autofocus" spellcheck="false" placeholder="Email address" type="email" name="email"
          id="request_data_email" class="required valid" autocomplete="off" aria-invalid="false" />
        <label for="request_data_email" class="error" style="display: none"></label>
      </p>
      <p class="js-form-password">
        <label for="request_data_password" class="u-sr-only">Password:</label>
        <span class="password-toggle">
          <input placeholder="Password" autocapitalize="none" autocomplete="off" type="password" name="password"
            id="request_data_password" class="required" />
          <label>
            <input type="checkbox" data-password-toggle="" />Show</label></span>
        <label for="request_data_password" class="error"></label>
      </p>
      <p class="remember-me-and-forgot-password">
        <label for="request_data_remember_me">
          <input type="checkbox" value="1" name="rememberme" id="request_data_remember_me" />
          Keep me logged in
        </label>
        <a href="/users/password/new">Forgot password?</a>
      </p>
      <p></p>
      <div>
        <button name="login" type="submit" id="login" data-disable-with="Logging In..." class="button button-primary">
          Log In
        </button>
      </div>
    </form>
  </span>
  <!---->
  <span style="display: none">
    <form id="otp-login-form" data-redirect-url="/" action="/users/authentication" accept-charset="UTF-8" method="post"
      class="form login-form">
      <input name="utf8" type="hidden" value="✓" /><input type="hidden" name="authenticity_token"
        value="GGZbUkYg014TVQ1WyzS9ppaE105//9cjAf0VNggGFHYjaSCLSViomVtfm27s9ndk0zjAuoHTO/MO0NUGL8QySg==" />
      <!---->
      <br />
      <button type="submit" id="otp-login-button" name="otp-login-button" disabled="disabled"
        class="button button-primary">
        Verify
      </button>
    </form>
    <!---->
  </span>
</div>
{% endblock %}