{% extends 'auth/auth_base.html' %}
{% block doodle %}
<span class="doodle"><img
    src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/doodle-login-3fb9c20adf6ee05781509bffc0aab493f980f6f01ef525da24ee5439cba9e15f.svg" /></span>
{% endblock %}

{% block authentication %}
<div class="authentications-container-item">
  <div>
    <h2>Log In</h2>
  </div>
  <div>
    <p>
      New to YNAB?
      <a data-switch-auth-to="signup" href="{{url_for('auth.sign_up')}}">Sign up today</a>.
    </p>
  </div>
  <span>
    <form id="login-form" data-redirect-url="/" data-dirty-tracking="false" action="http://127.0.0.1:5000/api/signin"
      accept-charset="UTF-8" data-remote="true" method="post" class="form login-form" novalidate="novalidate">
      <input name="utf8" type="hidden" value="✓" />
      <p class="js-form-email">
        <label for="request_data_email" class="u-sr-only">Email:</label>
        <input autofocus="autofocus" spellcheck="false" placeholder="Email address" type="email" name="email"
          id="request_data_email" class="required valid" autocomplete="off" aria-invalid="false" />
        <label for="request_data_email" class="error" style="display: none"></label>
      </p>
      <p class="js-form-password">
        <label for="request_data_password" class="u-sr-only">Password:</label>
        <span class="password-toggle">
          <input placeholder="Password" autocapitalize="none" autocomplete="off" type="password" name="password"
            id="request_data_password" class="required" />
          <label>
            <input type="checkbox" data-password-toggle="" />Show</label></span>
        <label for="request_data_password" class="error"></label>
      </p>
      <p class="remember-me-and-forgot-password">
        <label for="request_data_remember_me">
          <input type="checkbox" value="1" name="rememberme" id="request_data_remember_me" />
          Keep me logged in
        </label>
        <a href="/users/password/new">Forgot password?</a>
      </p>
      <p></p>
      <div>
        <button name="login" type="submit" id="login" data-disable-with="Logging In..." class="button button-primary">
          Log In
        </button>
      </div>
      <p></p>
      <hr data-content="or" class="u-hr-text" />
      <p class="u-sr-only">
        Or log in with your Apple or Google account
      </p>
      <button name="button" type="button" data-label="Continue with Apple" data-connect-url="/auth/apple/connect"
        data-trigger-action="false" class="button-brand button-brand-apple">
        <span class="brand-logo"><img
            src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/apple-logo-24d988857482bc7d60e83447ea01dff8a29c8295705c8af0eb3a5077f0b98853.svg"
            class="provider-logo" /></span><span class="brand-name">Continue
          with Apple</span>
      </button>
      <p class="apple-error"></p>
      <button name="button" type="button" data-label="Continue with Google" class="button-brand button-brand-google">
        <span class="brand-logo"><img
            src="https://ynab-evergreen-assets.youneedabudget.com/ynab-api-production/v1.71424/assets/google-logo-54e60c3db3a805b0cdd5ace5c871f691ebe85248f6685f663c0e007ace582b72.svg"
            class="provider-logo" /></span><span class="brand-name">Continue
          with Google</span>
      </button>
      <p class="google-error"></p>
    </form>
  </span>
  <!---->
  <span style="display: none">
    <form id="otp-login-form" data-redirect-url="/" action="/users/authentication" accept-charset="UTF-8" method="post"
      class="form login-form">
      <input name="utf8" type="hidden" value="✓" /><input type="hidden" name="authenticity_token"
        value="GGZbUkYg014TVQ1WyzS9ppaE105//9cjAf0VNggGFHYjaSCLSViomVtfm27s9ndk0zjAuoHTO/MO0NUGL8QySg==" />
      <!---->
      <br />
      <button type="submit" id="otp-login-button" name="otp-login-button" disabled="disabled"
        class="button button-primary">
        Verify
      </button>
    </form>
    <!---->
  </span>
</div>
{% endblock %}