<div class="modal fade" id="actions-modal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" role="dialog" aria-labelledby="modal-header" aria-describedby="modal-content">
    <div class="modal-dialog">
        <div class="modal-content">
            <ul class="list-group">
                <li>
                    <button class="modal-select-budget-create" data-ember-action="" data-ember-action-1399="1399">
                        <i id="ember1400" class="flaticon stroke ember-view plus-2"></i> New Budget
                    </button>
                </li>
                <li>
                    <a href="/users/budgets" class="recent-budgets-view-all" data-ember-action="" data-ember-action-1401="1401">
                        <span class="open-budgets-link"><i id="ember1402" class="flaticon stroke ember-view open-folder-1"></i>
                            View All Budgets</span>
                    </a>
                </li>
                <li>
                    <hr>
                </li>
                <li class="modal-list-header">Current Budget</li>
                <li>
                    <button class="modal-select-budget-settings" data-ember-action="" data-ember-action-1403="1403">
                        <i id="ember1404" class="flaticon stroke ember-view wrench-2"></i> Budget Settings
                    </button>
                </li>
                <li>
                    <button class="modal-select-budget-manage-payees" data-ember-action="" data-ember-action-1405="1405">
                        <i id="ember1406" class="flaticon stroke ember-view group"></i> Manage Payees
                    </button>
                </li>
                <li>
                    <button class="modal-select-theme-switcher" data-ember-action="" data-ember-action-1407="1407">
                        <svg height="16" width="16" id="ember1408" class="ynab-new-icon ember-view">
                            <use href="#icon_sprite_display_theme"></use>
        
                        </svg> Display Options
                    </button>
                </li>
                <li>
                    <button class="modal-select-budget-export" data-ember-action="" data-ember-action-1409="1409">
                        <i id="ember1410" class="flaticon stroke ember-view download-document-1"></i> Export Budget
                    </button>
                </li>
                <!---->
                <li>
                    <button class="modal-select-budget-fresh-start" data-ember-action="" data-ember-action-1411="1411">
                        <i id="ember1412" class="flaticon stroke ember-view leaf-1"></i> Make a Fresh Start
                    </button>
                </li>
                <li>
                    <hr>
                </li>
                <li class="modal-list-header">Account</li>
                <li>
                    <button class="modal-select-budget-my-account" data-ember-action="" data-ember-action-1413="1413">
                        <i id="ember1414" class="flaticon stroke ember-view user-4"></i> Account Settings
                    </button>
                </li>
                <!---->
                <li>
                    <button class="modal-select-budget-manage-connections" data-ember-action="" data-ember-action-1415="1415">
                        <i id="ember1416" class="flaticon stroke ember-view government-1"></i> Manage Connections
                    </button>
                </li>
                <li>
                    <button class="modal-select-budget-workshops" data-ember-action="" data-ember-action-1417="1417">
                        <i id="ember1418" class="flaticon stroke ember-view open-book"></i> Join a Workshop
                    </button>
                </li>
                <li>
                    <hr>
                </li>
                <li>
                    <button data-ember-action="" data-ember-action-1419="1419">
                        <i id="ember1420" class="flaticon stroke ember-view logout-1"></i> Log Out
                    </button>
                </li>
                <!---->
                <!---->
            </ul>
            <div class="modal-header">
            </div>
        </div>
    </div>
</div>