<div id="ember3927" class="modal-overlay active ember-view ynab-u modal-generic modal-budget-settings">
    <div class="modal" role="dialog" aria-labelledby="modal-header" aria-describedby="modal-content"
        style="left: 720px; top: 269.399px;">

        <div class="modal-header">
            Budget Settings
            <!---->
        </div>
        <div class="modal-content">
            <div class="fieldset">
                <dl>
                    <dt>Budget Name:</dt>
                    <dd class="user-data">
                        <div id="ember3928" class="field-with-error ember-view">
                            <div>
                                <input id="budgetNameIn" class="ember-text-field ember-view modal-budget-settings-name"
                                    type="text">
                            </div>

                            <!---->
                            <!---->
                        </div>
                    </dd>
                </dl>
                <div class="error"></div>
            </div>
            <div class="fieldset">
                <dl>
                    <dt>Currency:</dt>
                    <dd class="user-data">
                        <select id="currency">
                            <optgroup label="Common Currencies">
                                <option value="USD">
                                    US Dollar–USD
                                </option>
                                <option value="GBP">
                                    UK Pound Sterling–GBP
                                </option>
                                <option value="CAD">
                                    Canadian Dollar–CAD
                                </option>
                                <option value="AUD">
                                    Australian Dollar–AUD
                                </option>
                                <option value="EUR">
                                    Euro–EUR
                                </option>
                            </optgroup>
                            <optgroup label="All Currencies">
                                <option value="ALL">
                                    Albanian Lek–ALL
                                </option>
                                <option value="DZD">
                                    Algerian Dinar–DZD
                                </option>
                                <option value="ARS">
                                    Argentine Peso–ARS
                                </option>
                                <option value="AMD">
                                    Armenian Dram–AMD
                                </option>
                                <option value="AUD">
                                    Australian Dollar–AUD
                                </option>
                                <option value="AOA">
                                    Angolan Kwanza–AOA
                                </option>
                                <option value="AZN">
                                    Azerbaijanian Manat–AZN
                                </option>
                                <option value="BHD">
                                    Bahraini Dinar–BHD
                                </option>
                                <option value="BDT">
                                    Bangladeshi Taka–BDT
                                </option>
                                <option value="BBD">
                                    Barbadian Dollar–BBD
                                </option>
                                <option value="BWP">
                                    Botswana Pula–BWP
                                </option>
                                <option value="BYN">
                                    Belarusian Ruble–BYN
                                </option>
                                <option value="BZD">
                                    Belize Dollar–BZD
                                </option>
                                <option value="BOB">
                                    Boliviano–BOB
                                </option>
                                <option value="BRL">
                                    Brazilian Real–BRL
                                </option>
                                <option value="MGA">
                                    Malagasy Ariary–MGA
                                </option>
                                <option value="BND">
                                    Brunei Dollar–BND
                                </option>
                                <option value="BGN">
                                    Bulgarian Lev–BGN
                                </option>
                                <option value="CAD">
                                    Canadian Dollar–CAD
                                </option>
                                <option value="FJD">
                                    Fijian Dollar–FJD
                                </option>
                                <option value="KYD">
                                    Cayman Islands Dollar–KYD
                                </option>
                                <option value="XAF">
                                    Central African CFA franc–XAF
                                </option>
                                <option value="XPF">
                                    CFP franc–XPF
                                </option>
                                <option value="RWF">
                                    Rwandan Franc–RWF
                                </option>
                                <option value="CLP">
                                    Chilean Peso–CLP
                                </option>
                                <option value="COP">
                                    Colombian Peso–COP
                                </option>
                                <option value="BAM">
                                    Convertible Marks–BAM
                                </option>
                                <option value="CRC">
                                    Costa Rican Colon–CRC
                                </option>
                                <option value="HRK">
                                    Croatian Kuna–HRK
                                </option>
                                <option value="CZK">
                                    Czech Koruna–CZK
                                </option>
                                <option value="DKK">
                                    Danish Krone–DKK
                                </option>
                                <option value="DOP">
                                    Dominican Peso–DOP
                                </option>
                                <option value="EGP">
                                    Egyptian Pound–EGP
                                </option>
                                <option value="EEK">
                                    Estonian Kroon–EEK
                                </option>
                                <option value="EUR">
                                    Euro–EUR
                                </option>
                                <option value="GHS">
                                    Ghanaian Cedi–GHS
                                </option>
                                <option value="GTQ">
                                    Guatemalan Quetzal–GTQ
                                </option>
                                <option value="HTG">
                                    Haitian Gourde–HTG
                                </option>
                                <option value="HNL">
                                    Honduran Lempira–HNL
                                </option>
                                <option value="HKD">
                                    Hong Kong Dollar–HKD
                                </option>
                                <option value="HUF">
                                    Hungarian Forint–HUF
                                </option>
                                <option value="ISK">
                                    Icelandic Krona–ISK
                                </option>
                                <option value="INR">
                                    Indian Rupee–INR
                                </option>
                                <option value="IDR">
                                    Indonesian Rupiah–IDR
                                </option>
                                <option value="IRR">
                                    Iranian Rial–IRR
                                </option>
                                <option value="IQD">
                                    Iraqi Dinar–IQD
                                </option>
                                <option value="ILS">
                                    Israeli New Shekel–ILS
                                </option>
                                <option value="JMD">
                                    Jamaican Dollar–JMD
                                </option>
                                <option value="JPY">
                                    Japanese Yen–JPY
                                </option>
                                <option value="JOD">
                                    Jordanian Dinar–JOD
                                </option>
                                <option value="KZT">
                                    Kazakhstani Tenge–KZT
                                </option>
                                <option value="KES">
                                    Kenyan Shilling–KES
                                </option>
                                <option value="KRW">
                                    Korean Won–KRW
                                </option>
                                <option value="KWD">
                                    Kuwaiti Dinar–KWD
                                </option>
                                <option value="GEL">
                                    Lari–GEL
                                </option>
                                <option value="LBP">
                                    Lebanese Pound–LBP
                                </option>
                                <option value="LYD">
                                    Libyan Dinar–LYD
                                </option>
                                <option value="LTL">
                                    Lithuanian Litas–LTL
                                </option>
                                <option value="MDL">
                                    Moldovan Leu–MDL
                                </option>
                                <option value="MOP">
                                    Macao Pataca–MOP
                                </option>
                                <option value="MKD">
                                    Macedonian Denar–MKD
                                </option>
                                <option value="MYR">
                                    Malaysian Ringgit–MYR
                                </option>
                                <option value="MMR">
                                    Kyat–MMR
                                </option>
                                <option value="MTL">
                                    Maltese Lira–MTL
                                </option>
                                <option value="MUR">
                                    Mauritian Rupee–MUR
                                </option>
                                <option value="MXN">
                                    Mexican Peso–MXN
                                </option>
                                <option value="MAD">
                                    Moroccan Dirham–MAD
                                </option>
                                <option value="MWK">
                                    Malawi Kwacha–MWK
                                </option>
                                <option value="ANG">
                                    Netherlands Antillean Gulden–ANG
                                </option>
                                <option value="AWG">
                                    Aruban Florin–AWG
                                </option>
                                <option value="TWD">
                                    New Taiwan Dollar–TWD
                                </option>
                                <option value="NZD">
                                    New Zealand Dollar–NZD
                                </option>
                                <option value="NIO">
                                    Nicaraguan Cordoba Oro–NIO
                                </option>
                                <option value="NGN">
                                    Nigerian Naira–NGN
                                </option>
                                <option value="NOK">
                                    Norwegian Krone–NOK
                                </option>
                                <option value="NPR">
                                    Nepalese Rupee–NPR
                                </option>
                                <option value="PKR">
                                    Pakistan Rupee–PKR
                                </option>
                                <option value="PAB">
                                    Panamanian Balboa–PAB
                                </option>
                                <option value="PYG">
                                    Paraguay Guarani–PYG
                                </option>
                                <option value="PEN">
                                    Peruvian Nuevo Sol–PEN
                                </option>
                                <option value="UYU">
                                    Peso Uruguayo–UYU
                                </option>
                                <option value="PHP">
                                    Philippine Peso–PHP
                                </option>
                                <option value="PLN">
                                    Polish Zloty–PLN
                                </option>
                                <option value="CNY">
                                    PRC Yuan Renminbi–CNY
                                </option>
                                <option value="QAR">
                                    Qatari Rial–QAR
                                </option>
                                <option value="OMR">
                                    Rial Omani–OMR
                                </option>
                                <option value="RON">
                                    Romanian Leu–RON
                                </option>
                                <option value="MVR">
                                    Maldivian Rufiyaa–MVR
                                </option>
                                <option value="RUR">
                                    Russian Ruble–RUR
                                </option>
                                <option value="RUB">
                                    Russian Ruble–RUB
                                </option>
                                <option value="SAR">
                                    Saudi Riyal–SAR
                                </option>
                                <option value="RSD">
                                    Serbian Dinar–RSD
                                </option>
                                <option value="SGD">
                                    Singapore Dollar–SGD
                                </option>
                                <option value="SKK">
                                    Slovak Koruna–SKK
                                </option>
                                <option value="SIT">
                                    Slovenian Tolar–SIT
                                </option>
                                <option value="KGS">
                                    som–KGS
                                </option>
                                <option value="ZAR">
                                    South African Rand–ZAR
                                </option>
                                <option value="LKR">
                                    Sri Lankan Rupee–LKR
                                </option>
                                <option value="SEK">
                                    Swedish Krona–SEK
                                </option>
                                <option value="CHF">
                                    Swiss Franc–CHF
                                </option>
                                <option value="SYP">
                                    Syrian Pound–SYP
                                </option>
                                <option value="TZS">
                                    Tanzanian Shilling–TZS
                                </option>
                                <option value="THB">
                                    Thai Baht–THB
                                </option>
                                <option value="TTD">
                                    Trinidad Dollar–TTD
                                </option>
                                <option value="MNT">
                                    Tugrik–MNT
                                </option>
                                <option value="TND">
                                    Tunisian Dinar–TND
                                </option>
                                <option value="TRY">
                                    Turkish Lira–TRY
                                </option>
                                <option value="AED">
                                    UAE Dirham–AED
                                </option>
                                <option value="UGX">
                                    Ugandan Shilling–UGX
                                </option>
                                <option value="GBP">
                                    UK Pound Sterling–GBP
                                </option>
                                <option value="UAH">
                                    Ukrainian Hryvnia–UAH
                                </option>
                                <option value="USD">
                                    US Dollar–USD
                                </option>
                                <option value="UZS">
                                    Uzbekistan Sum–UZS
                                </option>
                                <option value="VEB">
                                    Venezuelan Bolivar–VEB
                                </option>
                                <option value="VND">
                                    Vietnamese Dong–VND
                                </option>
                                <option value="XOF">
                                    West African CFA franc–XOF
                                </option>
                                <option value="XCD">
                                    Eastern Caribbean Dollar–XCD
                                </option>
                                <option value="YER">
                                    Yemeni Rial–YER
                                </option>
                                <option value="ZWD">
                                    Zimbabwe Dollar–ZWD
                                </option>
                                <option value="ZMW">
                                    Zambian Kwacha–ZMW
                                </option>
                            </optgroup>
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt>Number Format:</dt>
                    <dd class="user-data">
                        <select id="currencyFormat" class="js-x-select ember-view">
                            <!---->
                            <option value="123,456.78">
                                123,456.78
                            </option>
                            <option value="123.456,78">
                                123.456,78
                            </option>
                            <option value="123,456.789">
                                123,456.789
                            </option>
                            <option value="123 456.78">
                                123 456.78
                            </option>
                            <option value="123'456.78">
                                123'456.78
                            </option>
                            <option value="123.456">
                                123.456
                            </option>
                            <option value="123,456">
                                123,456
                            </option>
                            <option value="123 456-78">
                                123 456-78
                            </option>
                            <option value="123 456,78">
                                123 456,78
                            </option>
                            <option value="123,456/78">
                                123,456/78
                            </option>
                            <option value="123 456">
                                123 456
                            </option>
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt>Currency Placement:</dt>
                    <dd class="user-data">
                        <div id="currencyPlacement" class="ynab-radiobutton ember-view"> <button class="is-checked "
                                data-value="Symbol First" data-ember-action="" data-ember-action-4067="4067">
                                <i class="ynab-radiobutton-button"></i>
                                Before amount (<bdi>$</bdi>123,456.78)
                            </button>

                            <button class=" " data-value="Symbol Last" data-ember-action=""
                                data-ember-action-4068="4068">
                                <i class="ynab-radiobutton-button"></i>
                                After amount (123,456.78<bdi>$</bdi>)
                            </button>

                            <button class=" " data-value="Symbol None" data-ember-action=""
                                data-ember-action-4069="4069">
                                <i class="ynab-radiobutton-button"></i>
                                Don't display symbol (123,456.78)
                            </button>

                        </div>
                    </dd>
                </dl>
            </div>
            <dl>
                <dt>Date Format:</dt>
                <dd class="user-data">
                    <select id="dateFormat" class="js-x-select ember-view">
                        <!---->
                        <option value="YYYY/MM/DD">
                            2015/12/30
                        </option>
                        <option value="YYYY-MM-DD">
                            2015-12-30
                        </option>
                        <option value="DD-MM-YYYY">
                            30-12-2015
                        </option>
                        <option value="DD/MM/YYYY">
                            30/12/2015
                        </option>
                        <option value="DD.MM.YYYY">
                            30.12.2015
                        </option>
                        <option value="MM/DD/YYYY">
                            12/30/2015
                        </option>
                        <option value="YYYY.MM.DD">
                            2015.12.30
                        </option>
                    </select>
                </dd>
            </dl>
        </div>
        <!---->
        <div class="modal-actions">
            <button id="ember4077" class="button button-primary button ember-view">
                Apply Settings
            </button>
            <button id="ember4078" class="button button ember-view">
                Cancel
            </button>
        </div>

        <!---->
    </div>
</div>