{% extends 'auth/auth_base.html' %}

{% block authentication %}
<div class="authentications-container-item">
  <div>
    <h2>Log In</h2>
  </div>
  <div>
    <p>
      New to {{program_name}}?
      <a data-switch-auth-to="signup" href="{{url_for('signup')}}">Sign up today</a>.
    </p>
  </div>
  <span>
    <form id="login-form" method="post" accept-charset="UTF-8" class="form login-form" novalidate="novalidate">
      {{ form.csrf_token }}
      <input name="utf8" type="hidden" value="✓" />
      <p class="js-form-email">
        {{form.email.label(class="u-sr-only")}}
        {{form.email(autofocus="autofocus", spellcheck="false", placeholder="Email address", type="email", id="request_data_email", class="required valid", autocomplete="off")}}
        {% for error in form.email.errors %}
          <label for="request_data_email" class="error">{{error}}</label>
        {% endfor %}
      </p>
      <p class="js-form-password">
        {{form.password.label(class="u-sr-only")}}
        <span class="password-toggle">
          {{form.password(placeholder="Password", autocapitalize="none", autocomplete="off", type="password", id="request_data_password", class="required")}}
          <label>
            <input id="show_password" type="checkbox" data-password-toggle="" />Show</label></span>
          {% for error in form.password.errors %}
            <label for="request_data_password" class="error">{{error}}</label>
          {% endfor %}
      </p>
      <p class="remember-me-and-forgot-password">
          {{form.rememberme(type="checkbox", value="1", id="request_data_remember_me")}}{{ form.rememberme.label }}
        <a href="{{url_for('reset_password')}}">Forgot password?</a>
      </p>
      <p></p>
      <div>
        <button name="login" type="submit" id="login" data-disable-with="Logging In..." class="button button-primary">
          Log In
        </button>
      </div>
    </form>
  </span>
</div>
{% endblock %}

{% block script %}

<script>
  const passField = document.querySelector("#request_data_password");
  const showBtn = document.querySelector("#show_password");
  showBtn.onclick = (()=>{
    if(passField.type === "password"){
      passField.type = "text";
      showBtn.classList.add("hide-btn");
    }else{
      passField.type = "password";
      showBtn.classList.remove("hide-btn");
    }
  });
</script>

{% endblock %}