nav ul li {
    float: left;
}

li a {
    display: block;
    color: #ABABAB;
    text-align: center;
    
    text-decoration: none;
    transition: 0.5s;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

nav ul li {
    padding: 6px 0;
}

nav ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-family: "Lato";
    font-size: 1rem;
    color: #ABABAB;
    text-transform: uppercase;
    margin: 2rem 16px;
    transition: 0.5s;
}

nav ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #5eb68b;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

nav ul li a:hover {
    color: #95a5a6;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}