<link rel="stylesheet" href="./static/style/navbar.css" type="text/css">

<nav style="width: 257px" role="navigation" id="ember8" class="ynab-u sidebar logged-in ember-view">
  <div class="sidebar-left">
    <div id="ember9" class="sidebar-contents ember-view">
      <div id="ember10" class="sidebar-nav ember-view">
        <button id="ember11"
          class="sidebar-nav-menu sidebar-nav-menu-budget js-sidebar-nav-menu user-data button ember-view">
          <svg height="24" width="24" id="ember12" class="ynab-new-icon ember-view sidebar-nav-ynab">
            <use href="#icon_sprite_ynab"></use>

            <title>{{ budget_name }}</title>
          </svg>
          <div class="sidebar-nav-budget-email">
            <span class="sidebar-nav-budget-email-budget">{{ budget_name }}</span>
            <span class="sidebar-nav-budget-email-email button-truncate">{{ email_address }}</span>
          </div>
          <i id="ember13" class="sidebar-nav-arrow flaticon stroke ember-view down"></i>
        </button>
        <ul class="nav-main">
          <li class="navlink sidebar-nav-menu-collapsed">
            <button id="ember14" class="js-sidebar-nav-menu button ember-view">
              <svg height="24" width="24" id="ember15" class="ynab-new-icon ember-view">
                <use href="#icon_sprite_ynab"></use>

                <title>{{ budget_name }}</title>
              </svg>
            </button>
          </li>
          <li class="navlink navlink-budget active">
            <a href="{{url_for('view.budget',budget_id=0,month=3,year=2022)}}" id="ember16"
              class="ember-view">
              <svg height="24" width="24" id="ember17" class="ynab-new-icon ember-view">
                <use href="#icon_sprite_navigation_budget"></use>
                <title>BudgetS</title>
              </svg>
              <div class="navlink-label">Budget</div>
            </a>
          </li>
          <li class="navlink navlink-reports">
            <a href="" id="ember18" class="ember-view">
              <svg height="24" width="24" id="ember19" class="ynab-new-icon ember-view">
                <use href="#icon_sprite_navigation_reports"></use>
                <title>Reports</title>
              </svg>
              <div class="navlink-label">Reports</div>
            </a>
          </li>
          <li class="navlink navlink-accounts">
            <a href="/accounts" id="ember20" class="ember-view">
              <svg height="24" width="24" id="ember21" class="ynab-new-icon ember-view">
                <use href="#icon_sprite_navigation_accounts"></use>
              </svg>
              <div class="navlink-label">All Accounts</div>
              <title>All Accounts</title>
            </a>
          </li>
          <li class="navlink navlink-transactions">
            <a href="/transactions" id="ember20" class="ember-view">
              <svg height="24" width="24" id="ember21" class="ynab-new-icon ember-view">
                <use href="#icon_sprite_navigation_accounts"></use>
              </svg>
              <div class="navlink-label">Transation History</div>
              <title>Transation History</title>
            </a>
          </li>
          <!---->
        </ul>
      </div>
    </div>
    <div class="sidebar-bottom">
      <button class="sidebar-collapse" data-ember-action="" data-ember-action-37="37" onclick="toggle_sidebar()">
        <svg height="32" width="32" id="ember38" class="ynab-new-icon ember-view">
          <use href="#icon_sprite_sidebar_collapse"></use>

          <title>Collapse Sidebar</title>
        </svg>
      </button>
    </div>
  </div>
  <div class="sidebar-resizer">
    <div class="sidebar-resizer-indicator"></div>
  </div>
</nav>

{% block scripts %}
<script>
  function toggle_sidebar() {
    var navbar = document.getElementById("ember8")
    navbar.classList.toggle("sidebar-resized-collapsed")
    if(navbar.style.width == "56px") {
      navbar.style.width = "260px"
    } else {
      navbar.style.width = "56px";
    }
  }
</script>
{% endblock %}